<article class="typography">
  <h1>Как строится процесс работы над иллюстрацией?</h1>

  <h2>1. Поиск идей, референсов</h2>

  <p>Изучаю текст, ищу идеи персонажей, иллюстраций, анализирую референсы.</p>

  <img src="/assets/process/2.jpg" alt="">

  <h2>2. Подготовка эскизов</h2>

  <p>Готовлю чистовые эскизы.</p>

  <img src="/assets/process/1.jpg" alt="">

  <h2>3. Обсуждение эскизов и внесение правок</h2>

  <p>Высылаю вам выполненные эскизы на согласование и вношу правки при необходимости. Допускается два круга правок, все последующие оплачиваются дополнительно.</p>

  <h2>4. Подбор цветовой гаммы и подготовка цветовых эскизов</h2>

  <p>Определяю цвета для иллюстрации.</p>

  <h2>5. Обсуждение цветовой гаммы и внесение правок</h2>

  <p>Высылаю набросок в выбранной цветовой гамме. Обращаю ваше внимание, что это только набросок, а не готовая иллюстрация. Допускается два круга правок, все последующие оплачиваются дополнительно. Пример ниже:</p>

  <img src="/assets/process/3.jpg" alt="">

  <h2>6. Заключительная отрисовка</h2>

  <p>Выполняю финальную отрисовку иллюстрации: добавляю тени, света, работаю с деталями и текстурами.</p>

  <h2>7. Обсуждение и внесение правок</h2>

  <p>Высылаю вам полностью законченную работу, допускаются лишь незначительные изменения.</p>

  <img src="/assets/process/Result.jpg" alt="">

</article>
