@use "variables";

.about-me-row {
  display: grid;
  grid-template-areas:
    "photo"
    "text"
  ;
  grid-gap: variables.$layoutElementsGutter;
  max-width: 40rem;
}

.about-me-photo-col {
  grid-area: photo;
}

.about-me-content-col {
  grid-area: text;
}
