<h1 class="h1">Добро пожаловать на мой сайт!</h1>

<p>Меня зовут <strong>Алёна Рычагова</strong>, я детский иллюстратор и смогу помочь вам в реализации вашего проекта.</p>
<h2 class="h2">Виды услуг, которые я предоставляю:</h2>

<ul>
  <li>разработка персонажей;</li>
  <li>иллюстрации для книг, журналов, открыток и другой печатной продукции;</li>
  <li>иллюстрации для упаковок.</li>
</ul>

<h2 class="h2">Процесс работы включает в себя:</h2>

<ul>
  <li>поиск и анализ референсов, аналогов, идей;</li>
  <li>подготовка ч/б эскизов;</li>
  <li>обсуждение идеи и внесение правок;</li>
  <li>подбор цветовой гаммы и подготовка цветовых эскизов;</li>
  <li>обсуждение цветовой гаммы и внесение правок;</li>
  <li>заключительная отрисовка;</li>
  <li>обсуждение и внесение минимальных правок.</li>
</ul>

<p>Все иллюстрации выполняются в растре.</p>

