<div class="about-me-row">
  <div class="about-me-photo-col">
    <img src="/assets/about-me/photo.jpg" alt="">
  </div>
  <div class="about-me-content-col typography">
    <p>Меня зовут <strong>Алёна Рычагова</strong>, я&nbsp;детский иллюстратор и&nbsp;смогу помочь вам в&nbsp;реализации вашего проекта.</p>

    <h2 class="h2">Как я&nbsp;начинала</h2>

    <p>Свой путь начинала много лет назад с&nbsp;векторных иллюстраций:</p>

    <ul>
      <li>переквалификация и&nbsp;изучение основ дизайна в&nbsp;томском университете;</li>
      <li>стажировалась в&nbsp;томской студии OGON.DESIGN в&nbsp;качестве иллюстратора;</li>
      <li>работа графическим дизайнером в&nbsp;томской&nbsp;IT компании &laquo;Студия Т&raquo;.</li>
    </ul>

    <p>
      После чего я&nbsp;пришла к&nbsp;тому, что хочу заниматься детской иллюстрацией. С&nbsp;момента окончания работы в&nbsp;IT компании и&nbsp;по&nbsp;сегодняшний день не&nbsp;прекращаю активно заниматься своим образованием в&nbsp;сфере детской иллюстрации. Все иллюстрации выполняю только в&nbsp;растре.
    </p>

    <h2 class="h2">
      Виды услуг, которые я&nbsp;предоставляю:
    </h2>

    <ul>
      <li>разработка персонажей;</li>
      <li>иллюстрации для книг, журналов, открыток и&nbsp;другой печатной продукции;</li>
      <li>иллюстрации для упаковок.</li>
    </ul>

    <h2 class="h3">
      Буду рада сотрудничеству!
    </h2>
  </div>
</div>

