@use "grid";

section {
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 4px 3px 10px 0 var(--project-list-item-shadow-color);

  @include grid.isMoreThan("mobile") {
    height: 0;
    padding-bottom: 100%;

    .content {
      transition: transform 0.25s;
      transform: translateY(100%);
    }

    &:hover .content {
      transform: translateY(0);
    }
  }
}

.image-backdrop-desktop {
  display: none;

  @include grid.isMoreThan("mobile") {
    position: absolute;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: initial;
  }
}

.image-backdrop-mobile {
  display: block;
  width: 100%;
  height: auto;

  @include grid.isMoreThan("mobile") {
    display: none;
  }
}

.content {

  padding: 0.75rem;
  background: var(--project-list-item-text-background);
  color: var(--project-list-item-text-color);
  width: 100%;
  font-size: 0.65rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include grid.isMoreThan("mobile") {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  h3 {
    font-size: inherit;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .icon-container {
    position: relative;
    width: 2em;
  }

  .icon {
    fill: var(--project-list-item-text-color);
    font-size: 1.75em;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }


}
