@use "grid";
@use "variables";


.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: variables.$gridColumnsGutter;
  grid-row-gap: variables.$gridRowsGutter;

  @include grid.isMoreThan("mobile") {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

:host {
  display: block;
  max-width: 1600px;

  @include grid.isMoreThan("mobile") {
    padding-right: variables.$gridColumnsGutter;
  }
}


.maintenance {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-align: center;
}