@use "grid";
@use "variables";

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: variables.$layoutElementsGutter;

  @include grid.isMoreThan("mobile") {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
