@import "grid";

:host {
  position: relative;
}

.backdrop {
  display: none;

  @include isMoreThan('mobile') {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: initial;
  }
}

img {
  display: block;

  @include isMoreThan('mobile') {
    display: none;
  }
}
