@import "grid";
@import "variables";

h1 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

section {
  display: grid;
  grid-template-areas:
    "header"
    "content"
  ;
  grid-gap: $layoutElementsGutter;
}

header {
  grid-area: header;
  margin-bottom: 1rem;

  .description {
    margin-top: 1.5rem;
    font-size: 1.15rem;
    max-width: 750px;

    ::ng-deep p {
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

article {
  grid-area: content;
}


figure {
  display: grid;
  grid-template-areas:
    "image-title"
    "image"
    "image-description"
  ;

  &:not(:last-child) {
    margin-bottom: $layoutElementsGutter * 2;
  }

  @include isMoreThan("mobile") {
    grid-template-columns: minmax(auto, 750px);
  }

  > img {
    grid-area: image;
    width: 100%;
  }

  .img-set {
    grid-area: image;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: $layoutElementsGutter;

    & > img {
      align-self: center;
    }
  }

  figcaption.image-title {
    grid-area: image-title;
    margin-bottom: 0.25rem;

    @include isMoreThan("mobile") {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }
  }

  figcaption.image-description {
    grid-area: image-description;
    margin-top: 0.25rem;
    font-size: 0.875rem;
  }
}
