@import "grid";
@import "variables";

section {
  display: grid;
  grid-template-areas:
    "header"
    "content"
  ;
  grid-gap: $layoutElementsGutter;
}

header {
  grid-area: header;
  margin-bottom: 0.5rem;
}

article {
  grid-area: content;
}


figure {
  display: grid;
  grid-template-areas:
    "image"
    "image-description"
  ;
  grid-gap: $layoutElementsGutter;

  &:not(:last-child) {
    margin-bottom: $layoutElementsGutter;
  }

  @include isMoreThan("mobile") {
    grid-template-areas:
      "image image-description"
    ;
    grid-template-columns: minmax(auto, 750px) $layoutNavWidth;
  }

  img {
    grid-area: image;
  }

  figcaption {
    grid-area: image-description;
  }

}
