<section *ngIf="project$ | async as project">
  <header>
    <h1 class="h1">{{project.title}}</h1>

    <div *ngIf="project.description" class="description" [innerHTML]="project.description"></div>
  </header>
  <article class="content">
    <figure *ngFor="let figure of project.figures">
      <figcaption *ngIf="figure.title" class="image-title" [innerHTML]="figure.title"></figcaption>
      <img *ngIf="isFigure(figure)" [src]="figure.src" alt="" />
      <div class="img-set" *ngIf="isFigureSet(figure)">
        <img *ngFor="let src of figure.multipleSrc" [src]="src" alt="" />
      </div>
      <figcaption *ngIf="figure.description" class="image-description" [innerHTML]="figure.description"></figcaption>
    </figure>
  </article>
</section>
