@import "grid";
@import "variables";

:host {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;

  @include isMoreThan("mobile") {
    grid-template-areas:
      "header main"
      "nav main"
      "footer main";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: $layoutNavWidth 1fr;
    height: 100vh;
    padding: 0.5rem;
  }
}

header {
  grid-area: header;
  padding: $layoutElementsGutter;

  a {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.25;
    text-transform: uppercase;
  }
}

nav {
  grid-area: nav;
  padding: $layoutElementsGutter;
  font-size: 1.25rem;
  font-weight: 200;

  li {
    margin-bottom: $layoutElementsGutter;
  }
}

footer {
  grid-area: footer;
  padding: $layoutElementsGutter;

  li {
    &:not(:last-child) {
      margin-bottom: 0.5em;
    }
  }

  a {
    display: flex;
    align-items: center;
  }

  .social-link-icon {
    margin-right: 0.5em;
  }
}

main {
  grid-area: main;
  overflow-y: auto;
  padding: $layoutElementsGutter;
}

a {
  span {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      border-bottom: 1px solid var(--link-hover-border-color);
      transition: width 0.25s;
    }
  }

  &:hover {
    span:after {
      width: 100%;
    }
  }
}
