<header>
  <a routerLink="/" class="h1">Алёна Рычагова</a>
</header>
<nav>
  <ul class="menu">
    <li>
      <a routerLink="/" routerLinkActive="active-menu-link" [routerLinkActiveOptions]="{exact: true}"><span>Мои работы</span></a>
      <ul *ngIf="submenuItems.length > 0" class="submenu">
        <li *ngFor="let submenuItem of submenuItems">
          <a [routerLink]="submenuItem.href" routerLinkActive="active-menu-link"><span>{{submenuItem.label}}</span></a>
        </li>
      </ul>
    </li>
    <li><a routerLink="/about" routerLinkActive="active-menu-link"><span>Обо мне</span></a></li>
  </ul>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <ul>
    <li *ngFor="let socialLink of socialLinks">
      <a [href]=[socialLink.href] target="_blank">
        <app-icon [name]="socialLink.iconName" class="social-link-icon"></app-icon>
        <span>{{socialLink.label}}</span>
      </a>
    </li>
  </ul>
</footer>
