@import "grid";
@import "variables";

:host {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;

  @include isMoreThan("mobile") {
    grid-template-areas:
      "header main"
      "nav main"
      "footer main";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 300px 1fr;
    height: 100vh;
  }
}

header {
  grid-area: header;
  padding: $layoutElementsGutter;
}

nav {
  grid-area: nav;
  padding: $layoutElementsGutter;
}

footer {
  grid-area: footer;
  padding: $layoutElementsGutter;
}

main {
  grid-area: main;
  overflow-y: auto;
  padding: $layoutElementsGutter;
}
