@use "variables";

:root {
  --main-bg-color: #{variables.$colorWhite};
  --main-text-color: #{variables.$colorAbyss};
  --link-hover-border-color: #{variables.$colorAbyss};
  --project-list-item-shadow-color: #e2e2e6;
  --project-list-item-text-background: rgba(255, 255, 255, 0.85);
  --project-list-item-text-color: #{variables.$colorAbyss};
}
