<header>
  <a routerLink="/" class="h1 name link">
    <span>{{'menu.first-name' | translate}}</span> <img src="/assets/images/drawed-me.jpg" alt="" /> <span>{{'menu.last-name' | translate}}</span></a
  >
</header>
<nav>
  <ul class="menu">
    <li>
      <a
        routerLink="/"
        routerLinkActive="active-menu-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="link"
      ><span>{{'menu.portfolio' | translate}}</span></a
      >
      <ul *ngIf="submenuItems.length > 0" class="submenu">
        <li *ngFor="let submenuItem of submenuItems">
          <a [routerLink]="submenuItem.href" routerLinkActive="active-menu-link" class="link"
          ><span>{{ submenuItem.label }}</span></a
          >
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active-menu-link" class="link"><span>{{'menu.about' | translate}}</span></a>
    </li>
    <li>
      <a routerLink="/process" routerLinkActive="active-menu-link" class="link"><span>{{'menu.process' | translate}}</span></a>
    </li>
  </ul>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <ul>
    <li *ngFor="let socialLink of socialLinks">
      <a [href]="[socialLink.href]" target="_blank" class="link">
        <app-icon [name]="socialLink.iconName" class="social-link-icon"></app-icon>
        <span>{{ socialLink.label }}</span>
      </a>
    </li>
  </ul>
</footer>
