@use "sass:math";
@use "grid";
@use "variables";

:host {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;

  @include grid.isMoreThan("mobile") {
    grid-template-areas:
      "header main"
      "nav main"
      "footer main";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: variables.$layoutNavWidth 1fr;
    height: 100vh;
    padding: 0.5rem;
  }
}

header {
  grid-area: header;
  padding: variables.$layoutElementsGutter;
}

.name {
  line-height: 1.25;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: "Amatic SC", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 700;

  img {
    display: inline;
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    margin: 0 0.15em;
  }
}

nav {
  grid-area: nav;
  padding: variables.$layoutElementsGutter;
  font-weight: 200;

  .menu {
    & > li {
      font-size: 1.25rem;
      margin-bottom: variables.$layoutElementsGutter;
    }
  }

  .submenu {
    padding-left: variables.$layoutElementsGutter;
    font-size: 1rem;
    & > li {
      margin-top: math.div(variables.$layoutElementsGutter, 2);
    }
  }

  a.active-menu-link {
    font-weight: 400;
  }
}

footer {
  grid-area: footer;
  padding: variables.$layoutElementsGutter;

  li {
    &:not(:last-child) {
      margin-bottom: 0.5em;
    }
  }

  a {
    display: flex;
    align-items: center;
  }

  .social-link-icon {
    margin-right: 0.5em;
  }
}

main {
  grid-area: main;
  overflow-y: auto;
  padding: variables.$layoutElementsGutter;
}
